process.executor = 'local'
params {
  threads = 4
  genome = 'reference/genome.fa'
  gtf = 'reference/annotation.gtf'
  star_index = 'star_index'
  adapters = 'TruSeq3-PE.fa'
}

singularity.enabled = true
singularity.autoMounts = true

process.container = ''
process {
  withName:FastQC_Raw {
    container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--0'
  }
  withName:Trimmomatic {
    container = 'https://depot.galaxyproject.org/singularity/trimmomatic:0.39--hdfd78af_2'
  }
  withName:FastQC_Trimmed {
    container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--0'
  }
  withName:STAR_Align {
    container = 'https://depot.galaxyproject.org/singularity/star:2.7.10b--0'
  }
  withName:FeatureCounts {
    container = 'https://depot.galaxyproject.org/singularity/subread:2.0.3--h9a82719_1'
  }
}
